# vscodeの設定ファイルを無視する
.vscode

# pythonのパッケージを無視する
batch/bin
batch/include
batch/lib/python3.9
batch/README.md

# キャッシュファイルを無視する
batch/lib/__pycache__
batch/test/__pycache__/
batch/.DS_Store

# ログファイルを無視する
batch/log

# envファイル
.env
