# vscodeの設定ファイルを無視する
.vscode

# pythonのパッケージを無視する
python/bin
python/include
python/lib/python3.9
python/README.md

# キャッシュファイルを無視する
python/lib/__pycache__
python/test/__pycache__/
python/.DS_Store

# envファイル
.env
