# vscodeの設定ファイルを無視する
.vscode

# pythonのパッケージを無視する
batch-online/bin
batch-online/include
batch-online/lib/python3.9
batch-online/README.md

# キャッシュファイルを無視する
batch-online/lib/__pycache__/
batch-online/test/__pycache__/
batch-online/.DS_Store

# ログファイルを無視する
batch-online/log

# envファイル
.env
